body {
    background: rgb(255, 255, 255);
}

#menu {
    background: rgba(18, 18, 197, 0.2);
}

.div_login {
    margin: auto;
    border: solid 2px black;
    border-radius: 30px;
    padding: 20px;
    width: 50%;
    height: 70px;
}

table,
td {
    border: solid 1px black;
    border-radius: 10px;
}

td {
    padding: 10px;
}

#tbl_categorias {
    border-color: blue;
    background: rgb(rgb(0, 0, 0));
    padding: 10px;
}

#tbl_categorias td {
    border-color: rgb(4, 0, 255);
    background: rgb(rgb(0, 0, 0));
}